APScheduler==3.6.3
behave==1.2.6
cachetools==4.2.2
cachier==1.2.8
certifi==2021.5.30
chardet==3.0.4
Click==7.0
colorama==0.4.4
idna==2.8
loguru==0.4.0
packaging==19.2
parse==1.19.0
parse-type==0.5.2
plumbum==1.6.8
portalocker==2.3.0
pymongo==3.9.0
pyparsing==2.4.7
pyTelegramBotAPI==3.7.9
python-rex==0.4
python-telegram-bot==13.6
python-telegram-bot-raw==13.6
pytz==2021.1
PyYAML==5.3.1
requests==2.22.0
schedule==1.1.0
six==1.16.0
telegram==0.0.1
tornado==6.1
tzlocal==2.1
updater==0.1.25
urllib3==1.25.11
watchdog==2.1.2
win32-setctime==1.0.3
